

%% there are two options for pointing the program to the folder(s) on your computer which contains the images to be processed
%% option 1 is to hard-wire the full path to the folder. For just 1 directory, create a string e.g.:

%% if more than 1 folder, create a cellular array with folders, e.g.:

%folder{1} = '/home/dbuscombe/Dropbox/my_software/DGS/example_images2';
%folder{2} = '/home/dbuscombe/Dropbox/my_software/DGS/example_images3';

% option 2 is to read in a file which provides full paths to the images called 'directories.txt'
folder='directories.txt';


%% option 3 is to leave the folder option out, or empty, or set to zero, e.g.
%folder = 0;

% res is the image resolution (mm/pixel)
res = 0.004;

% density at which the image is sampled. If N=density, the program will 
% analyse every Nth row of the image, so the larger the density, 
%the quicker the processing time but the less accurate the result
density=10;

% the smallest grain scale to consider. This is a value in pixels
start_size=3;

%% IMAGE FILTERING
filter = 0; % 1 = yes, 0 = no

%% if filter=1, then you need to specify options
filteroptions.boost = 3; 
filteroptions.CutOff = .2; 
filteroptions.order = 2;

flatten = 0; % 1 = yes, 0 = no

%% OUTPUTS
return_used_image = 0; % 1 = yes, 0 = no

% if verbose =1, more commentary printed to screen
verbose = 1;



